.section_30 {
	margin-top: 30px;
}
.sidebar .product_categories {
	max-height: 150px;
	overflow-y: auto;
}
.sidebar .product_colors {
	height: 50px;
	overflow-y: auto
}
.price_input {
	margin-top: 20px;
}
.price_input input {
	display: inline-block;
	max-width: 120px;
}
.equal_cols {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}
/*cart modal*/
#m_cart_prods .modal-header .close {
	font-size: 25px;
}
#m_cart_prods .modal-title {
	color: #fff;
	font-size: 16px;
}
#m_cart_prods .cart_prods_modal_table {
	max-height: 350px;
	overflow: auto;
}
#m_cart_prods .cart_product img {
	padding: 0;
	max-width: 80px;
	padding: 0px;
	border: 1px #eee solid
}
#m_cart_prods .cart_actions.view-cart {
	float: none !important;
}
.prod_cat_tab {
	margin: 0 15px;
	margin-bottom: 10px;
}
.btn_theme_white {
	display: inline-block;
	margin-bottom: 5px;
	padding: 0 15px;
	background: #fff;
	border: 1px solid #cccccc;
	color: #444444;
	font-size: 15px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.5px;
	text-transform: inherit;
	border-radius: 0;
	transition: all 0.4s ease-out 0s;
	border-radius: 0px;
}
.btn_theme_white:hover {
	color: #fff;
	background: #CF3341;
	border: 1px solid #CF3341;
	transition: all 0.4s ease-out 0s;
}
.btn_theme_red {
	color: #fff;
	background: #CF3341;
}
.btn_theme_red:hover {
	color: #444444;
	background: #fff;
	border: 1px solid #CF3341;
	transition: all 0.4s ease-out 0s;
}